/* google */
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

body {
    background-color: pink;
    font-family: 'Gamja Flower', cursive;
}

.wrap {
    width: 500px;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrap img {
    width: 150px;
    height: 150px; 
    border-radius: 50%; 
    border: 5px solid #fff;
}

h1,
h3 {
    color: #fff;
    margin: 0;
}

h3 {
    font-size: 15px;
    margin-top: 7px;
}

.wrap > a {
    background-color: #fff;
    width: 200px;
    height: 30px;
    margin: 20px 0 0 0;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 5px 7px 5px rgba(128, 128, 128, 0.585);
    cursor: pointer;
    transition: 0.3s;
}
.wrap a:hover {
    border: none;
    background-color: #f2f2f2;
}

